{% extends 'base.html' %}


{% block title %}Kitob kirish{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.username == 'clay' %}
      <div style="margin: 1% 3% 0 3%; border-radius: 30%;">
        <div class="ui bg-primary  menu">
          
          <a class="item" href="{% url 'arm_3_new' %}">
            Yangi kitob kirish
          </a>
          <a class="item" href="{% url 'arm_3_list' %}">
            Barcha kitoblar
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Umumiy qidiruv...">
                <i class="search link icon"></i>
              </div>
            </div>          
          </div>
        </div>
        <div class="content-wrapper" style="min-height: 868px;">          
          <section class="content">
            
            <table class="ui celled striped table">
              <thead>
                <tr>         
                  <!--qatori hisobga olinsin-->
                  <th colspan="1"> №</th>
                  <th class="right aligned collapsing" colspan="1">Kitob nomi</th>
                  <th colspan="1">Nashriyot</th>
                  <th class="right aligned collapsing" colspan="1">Nashir yili </th>
                  <th class="right aligned collapsing" colspan="1">Darslik turi</th>
                  <th colspan="1">Nashriyot</th>
                  <th colspan="1">Shifr</th>
                  <th colspan="1">ISBN</th>
                  <th colspan="1">Tili</th>
                  <th colspan="1">Sanai</th>
                  <th colspan="1"></th>      
                </tr>
              </thead>  
            
              {% for arm_3 in object_list %}

                <tbody>
                  <tr>
                    <!--qatori hisobga olinsin-->
                    <td class="right aligned collapsing">{{arm_3.invertor_nomeri}}</td>                  
                    <td class="right aligned collapsing">{{arm_3.kitob_nomi|title}}</td>
                    <td class="right aligned collapsing">{{arm_3.nashriyot|title}}</td>
                    <td class="right aligned collapsing">{{arm_3.nashr_yili|title}}</td>
                    <td class="right aligned collapsing">{{arm_3.darslik_turi|title}}</td>
                    <td class="right aligned collapsing">{{arm_3.nashriyot|title}}</td>
                    <td class="right aligned collapsing">{{arm_3.shifr}}</td>
                    <td class="right aligned collapsing">{{arm_3.isbn}}</td>
                    <td class="right aligned collapsing">{{arm_3.tili}}</td>
                    <td class="right aligned collapsing">{{arm_3.sana}}</td>
                    <td class="right aligned collapsing">
                      <a class="mini ui button" href="{% url 'arm_3_detail' arm_3.pk %}">
                        <i class="user icon"></i>
                        Ko`rish
                      </a>
                    </td>                              
                  </tr>
                </tbody>

              {% endfor %}
            </table>  
            
          </section>
        </div>
      </div>
    {% endif %}
    {% if user.username == 'arm_3' %}
      <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="{% url 'arm_3_new' %}">
              <i class="bi bi-book-half"></i>
                <span style="padding-left: 30px;">Yangi kitob kirish</span>
                <span class="pull-right-container"><i class="bi bi-book-half"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="{% url 'arm_3_list' %}">
              <i class="bi bi-book-half"></i>
                <span style="padding-left: 30px;">Barcha kitoblar</span>
                <span class="pull-right-container"><i class="bi bi-book-half"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
      </aside>
      <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
          
          <table class="ui celled striped table">
            <thead>
              <tr>         
                <!--qatori hisobga olinsin-->
                <th colspan="1"> №</th>
                <th class="right aligned collapsing" colspan="1">Kitob nomi</th>
                <th colspan="1">Nashriyot</th>
                <th class="right aligned collapsing" colspan="1">Nashir yili </th>
                <th class="right aligned collapsing" colspan="1">Darslik turi</th>
                <th colspan="1">Nashriyot</th>
                <th colspan="1">Shifr</th>
                <th colspan="1">ISBN</th>
                <th colspan="1">Tili</th>
                <th colspan="1">Sanai</th>
                <th colspan="1"></th>      
              </tr>
            </thead>  
          
            {% for arm_3 in object_list %}

              <tbody>
                <tr>
                  <!--qatori hisobga olinsin-->
                  <td class="right aligned collapsing">{{arm_3.invertor_nomeri}}</td>                  
                  <td class="right aligned collapsing">{{arm_3.kitob_nomi|title}}</td>
                  <td class="right aligned collapsing">{{arm_3.nashriyot|title}}</td>
                  <td class="right aligned collapsing">{{arm_3.nashr_yili|title}}</td>
                  <td class="right aligned collapsing">{{arm_3.darslik_turi|title}}</td>
                  <td class="right aligned collapsing">{{arm_3.nashriyot|title}}</td>
                  <td class="right aligned collapsing">{{arm_3.shifr}}</td>
                  <td class="right aligned collapsing">{{arm_3.isbn}}</td>
                  <td class="right aligned collapsing">{{arm_3.tili}}</td>
                  <td class="right aligned collapsing">{{arm_3.sana}}</td>
                  <td class="right aligned collapsing"><a href="{% url 'arm_3_detail' arm_3.pk %}">Ko`rish</a></td>                               
                </tr>
              </tbody>

            {% endfor %}
          </table>  

        </section>
      </div>
    {% endif %}
  
  {% endif %}
  
      
{% endblock content %}