{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Kalit so`zingiz esdanchiqdimi?{% endblock title %}
{% block content %}
    
    <h2>Kalit so`zingiz esdanchiqdimi?</h2>
    <p>Quyida email manzilingizni kiriting, biz sizga kalit so`zni tiklash uchun bog`lama yuboramiz</p>
    <form method="post" style="margin: 30px;">{% csrf_token %}
        {{form|crispy}}
        <br>
        <input class="btn btn-primary" type="submit" value="Yuborish"> 
    </form>
{% endblock content %}