{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'clay' %}
        <div style="margin: 1% 3% 0 3%; border-radius: 30%;">
            <div class="ui bg-primary  menu">      
            <a class="item" href="{% url 'talaba_new' %}">
                Yangi talaba kirish
            </a>
            <a class="item" href="{% url 'talaba_list' %}">
                Barcha talabalar
            </a>      
            </div>
            <div class="content-wrapper" style="min-height: 868px;">          
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">                            
                            {{talaba.talaba}} 
                            {{arm_1.kitob_nomi}} 
                            <a  class="btn btn-secondary"type="button"  href="{% url 'talaba_edit' talaba.pk %}">Tahrirlash</a>
                            <a class="btn btn-secondary" type="button"  href="{% url 'talaba_delete' talaba.pk %}">O`chirish</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}    
    {% endif %}    
{% endblock content %}