{% extends 'base.html' %}


{% block title %}Kitob kirish{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.username == 'clay' %}
    <div style="margin: 1% 3% 0 3%; border-radius: 30%;">
      <div class="ui bg-primary  menu">      
      <a class="item" href="{% url 'talaba_new' %}">
          Yangi talaba kirish
      </a>
      <a class="item" href="{% url 'talaba_list' %}">
          Barcha talabalar
      </a>      
      </div>
      <div class="content-wrapper" style="min-height: 100%;">          
        <section class="content">          
          <table class="table table-bordered">
            <thead>
              <tr>
                <!--qatori hisobga olinsin-->
                <th rowspan="1" style="text-align: center; vertical-align: middle;">№ </th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Ism</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Familya</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Fakultet</th>
                <th rowspan="" style="text-align: center; vertical-align: middle;">Yo`nalish</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Guruh</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Kurs</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Viloyat</th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Tuman </th>
                <th rowspan="1" style="text-align: center; vertical-align: middle;">Telefon raqami</th>                               
              </tr>
            </thead>         
            {% for talaba in object_list %}
            <tbody>
              <tr>
                <!--qatori hisobga olinsin-->
                <td style="vertical-align: center">{{talaba.id}}</td>
                <td style="vertical-align: center">{{talaba.ism|title}}</td>
                <td style="text-align: center; vertical-align: center">{{talaba.familiya|title}}</td>
                <td style="text-align: center; vertical-align: center">{{talaba.fakultet|title}}</td>
                <td style="vertical-align: center">{{talaba.yonalish|title}}</td>
                <td style="vertical-align: center">{{talaba.guruh|title}}</td>
                <td style="text-align: center; vertical-align: center">{{talaba.kurs|title}}</td>
                <td style="text-align: center; vertical-align: center">{{talaba.viloyat|title}}</td>
                <td style="vertical-align: center">{{talaba.tuman|title}}</td>
                <td style="vertical-align: center">{{talaba.tel_raqami|title}}</td>                               
              </tr>
            </tbody>
            {% endfor %} 
          </table>              
        </section>
      </div> 
    </div>
    {% endif %}

    {% if user.lavozimi == 'talaba' %}
    <div style="margin: 1% 3% 0 3%; border-radius: 30%;">
      <div class="ui bg-primary  menu">      
      <a class="item" href="{% url 'talaba_new' %}">
          Yangi talaba kirish
      </a>
      <a class="item" href="{% url 'talaba_list' %}">
          Barcha talabalar
      </a>      
      </div>
      <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
          {% for arm_1 in object_list %}
            <div class="card" >
              <div class="card-header">
                <span class="font-weight-bold"><h4>{{talaba.talabai|title}}</h4></span>               
                <span class="font-weight-bold">{{ arm.mualif }}</span>
              </div>           
            <br>
            <hr>    
          
            </div>
          {% endfor %} 
        </section>
      </div>
    </div>
    {% endif %}  
  {% endif %}     
{% endblock content %}