{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'arm_4' %}
            <aside class="main-sidebar">
                <section class="sidebar">
                <ul class="sidebar-menu tree" >
                    <li class="treeview ">
                    <a href="{% url 'arm_4_new' %}">
                        <i class="fa fa-briefcase"></i> 
                        <span>Yangilik kirish</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>              
                    </li>

                    <li class="treeview ">
                    <a href="{% url 'arm_3_list' %}">
                        <i class="fa fa-users"></i> 
                        <span>Barcha yangiliklar</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>              
                    </li>
                    
                </ul>
                </section>
            </aside>
            <div class="content-wrapper" style="min-height: 868px;">          
                <section class="content">        
                    <h2>Tahrirlash</h2>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Saqlsh</button> 
                    </form> 
                </section>
            </div>
        {% endif %}
    {% else %}
        <aside class="main-sidebar">
            <section class="sidebar">
            <ul class="sidebar-menu tree" >
                <li class="treeview ">
                <a href="{% url 'arm_4_new' %}">
                    <i class="fa fa-briefcase"></i> 
                    <span>Yangi kitob kirish</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>

                <li class="treeview ">
                <a href="{% url 'arm_4_list' %}">
                    <i class="fa fa-users"></i> 
                    <span>Barcha kitoblar</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>
                
            </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 868px;">          
            <section class="content">        
                <h2>Tahrirlash huquqi sizda mavjud emas</h2>                
            </section>
        </div>
    {% endif %}
    
{% endblock content %}