{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'clay' %}
        <aside class="main-sidebar">
            <section class="sidebar">
            <ul class="sidebar-menu tree" >
                <li class="treeview ">
                <a href="{% url 'fakultet_new' %}">
                    <i class="fa fa-briefcase"></i> 
                    <span>Yangi kitob kirish</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>

                <li class="treeview ">
                <a href="{% url 'fakultet_list' %}">
                    <i class="fa fa-users"></i> 
                    <span>Barcha kitoblar</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>
                
            </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 868px;">          
            <section class="content">        
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">                            
                            {{fakultet.fakultet}} 
                            {{arm_1.kitob_nomi}} 
                            <a  class="btn btn-secondary"type="button"  href="{% url 'fakultet_edit' fakultet.pk %}">Tahrirlash</a>
                            <a class="btn btn-secondary" type="button"  href="{% url 'fakultet_delete' fakultet.pk %}">O`chirish</a>                            
                        </div>
                    </div>
                </div>
        </div>
        {% endif %}
    {% else %}
        <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="#">
                <i class="fa fa-briefcase"></i> 
                <span>Mehmon</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="#">
                <i class="fa fa-users"></i> 
                <span>Yordam</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
        </aside>
        <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
            <h1>Bu sahifaga kirish huquqingiz yo`q</h1>
        </section>
        </div>
    {% endif %}
    
{% endblock content %}