{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <aside class="main-sidebar">
            <section class="sidebar">
            <ul class="sidebar-menu tree">
                <li class="">
                    <a href="{% url 'arm_2_new' %}">
                        <i class="bi bi-mortarboard-fill"></i> 
                        <span style="padding-left: 30px;">Yangi talaba kiritish</span>
                        <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></span>
                    </a>              
                </li>            

                <li class="treeview ">
                    <a href="{% url 'arm_2_list' %}">
                        <i class="bi bi-mortarboard-fill"></i> 
                        <span style="padding-left: 30px;">Barcha talabalar</span>
                        <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></i></span>
                    </a>              
                </li>
                
            </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 868px;">          
            <section class="content">        
                <h2>Yangi talaba kiritish uchun</h2>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                <button class="btn btn-primary" type="submit">Saqlsh</button> 
                </form>
            </section>
        </div>
    {% endif %}
{% endblock content %}