{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'clay' %}
        <div style="margin: 1% 3% 0 3%; border-radius: 30%;">
            <div class="ui bg-primary  menu">
              
              <a class="item" href="{% url 'arm_2_new' %}">
                Yangi talaba kirish
              </a>
              <a class="item" href="{% url 'arm_2_list' %}">
                Barcha talabalar
              </a>              
            </div>
            <div class="content-wrapper" style="min-height: 868px;">          
                <section class="content">        
                    <h2>Talabani o`chirish</h2>
                    <form action="" method="post" >{% csrf_token %}     
                        <p>"{{ arm_2.familya|title }}" nomli talabani o`chirishni istaysizmi?</p>          
                        <button class="btn btn-primary" type="submit">Ha</button> 
                    </form>
                </section>
            </div>
        </div>
        {% endif %}
    
    {% endif %}
    
{% endblock content %}