{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'clay' %}
        <aside class="main-sidebar">
            <section class="sidebar">
            <ul class="sidebar-menu tree" >
                <li class="treeview ">
                <a href="{% url 'arm_2_new' %}">
                  <i class="bi bi-mortarboard-fill"></i>
                    <span style="padding-left: 30px;">Yangi talaba kirish</span>
                    <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></span>
                </a>              
                </li>

                <li class="treeview ">
                <a href="{% url 'arm_2_list' %}">
                  <i class="bi bi-mortarboard-fill"></i> 
                    <span style="padding-left: 30px;">Barcha talabalar</span>
                    <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></span>
                </a>              
                </li>
                
            </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="min-height: 600px;">          
          <section class="content">         
                    
            <table class="ui celled striped table">
              <thead>
                <tr>         
                  <!--qatori hisobga olinsin-->
                  <th colspan="1"> №</th>
                  <th colspan="1">Familya</th>
                  <th colspan="1">Ism    </th>
                  <th colspan="1">Sharifi </th>
                  <th colspan="1">Fakultet</th>
                  <th colspan="1">Yo`nalish</th>
                  <th colspan="1">Kurs</th>
                  <th colspan="1">Guruh</th>
                  <th colspan="1">Raqami </th>
                  <th colspan="1"></th>
                  <th colspan="1"></th>      
                </tr>
              </thead>  
            
              

                <tbody>
                  <tr>
                    <!--qatori hisobga olinsin-->
                    <td class="right aligned collapsing">{{arm_2.formulyar_raqami}}</td>                  
                    <td class="right aligned collapsing">{{arm_2.familya|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.ism|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.sharifi|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.fakultet|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.yonalish|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.kurs}}</td>
                    <td class="right aligned collapsing">{{arm_2.guruh}}</td>
                    <td class="right aligned collapsing">{{arm_2.tel_raqami}}</td>
                    <td class="right aligned collapsing"><a  class="btn btn-secondary"type="button"  href="{% url 'arm_2_edit' arm_2.pk %}">Tahrirlash</a></td>
                    <td class="right aligned collapsing"><a class="btn btn-secondary" type="button"  href="{% url 'arm_2_delete' arm_2.pk %}">O`chirish</a></td>                               
                  </tr>
                </tbody>

           
            </table>                
            
          </section>
                     
        </div>
      {% endif %}

      {% if user.username == 'arm_2' %}
        <aside class="main-sidebar">
          <section class="sidebar">
          <ul class="sidebar-menu tree" >
              <li class="treeview ">
              <a href="{% url 'arm_2_new' %}">
                <i class="bi bi-mortarboard-fill"></i>
                  <span style="padding-left: 30px;">Yangi talaba kirish</span>
                  <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></span>
              </a>              
              </li>

              <li class="treeview ">
              <a href="{% url 'arm_2_list' %}">
                <i class="bi bi-mortarboard-fill"></i> 
                  <span style="padding-left: 30px;">Barcha talabalar</span>
                  <span class="pull-right-container"><i class="bi bi-mortarboard-fill"></i></span>
              </a>              
              </li>
              
          </ul>
          </section>
        </aside>
        <div class="content-wrapper" style="min-height: 600px;">          
          <section class="content">         
                    
            <table class="ui celled striped table">
              <thead>
                <tr>         
                  <!--qatori hisobga olinsin-->
                  <th colspan="1"> №</th>
                  <th colspan="1">Familya</th>
                  <th colspan="1">Ism    </th>
                  <th colspan="1">Sharifi </th>
                  <th colspan="1">Fakultet</th>
                  <th colspan="1">Yo`nalish</th>
                  <th colspan="1">Kurs</th>
                  <th colspan="1">Guruh</th>
                  <th colspan="1">Raqami </th>
                  <th colspan="1"></th>
                  <th colspan="1"></th>      
                </tr>
              </thead>  
            
              

                <tbody>
                  <tr>
                    <!--qatori hisobga olinsin-->
                    <td class="right aligned collapsing">{{arm_2.formulyar_raqami}}</td>                  
                    <td class="right aligned collapsing">{{arm_2.familya|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.ism|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.sharifi|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.fakultet|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.yonalish|title}}</td>
                    <td class="right aligned collapsing">{{arm_2.kurs}}</td>
                    <td class="right aligned collapsing">{{arm_2.guruh}}</td>
                    <td class="right aligned collapsing">{{arm_2.tel_raqami}}</td>
                    <td class="right aligned collapsing"><a  class="btn btn-secondary"type="button"  href="{% url 'arm_2_edit' arm_2.pk %}">Tahrirlash</a></td>
                    <td class="right aligned collapsing"><a class="btn btn-secondary" type="button"  href="{% url 'arm_2_delete' arm_2.pk %}">O`chirish</a></td>                               
                  </tr>
                </tbody>

           
            </table>                
            
          </section>
        </div>
      {% endif %}
    {% else %}
        <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="#">
                <i class="fa fa-briefcase"></i> 
                <span>Mehmon</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="#">
                <i class="fa fa-users"></i> 
                <span>Yordam</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
        </aside>
        <div class="content-wrapper" style="min-height: 600px;">          
        <section class="content">        
            <h1>Bu sahifaga kirish huquqingiz yo`q</h1>
        </section>
        </div>
    {% endif %}
    
{% endblock content %}