{% extends 'base.html' %}


{% block title %}fakultet kirish{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.username == 'clay' %}
      <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="{% url 'yonalish_new' %}">
                <i class="fa fa-briefcase"></i> 
                <span>Yangi yo`nalish kirish</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="{% url 'yonalish_list' %}">
                <i class="fa fa-users"></i> 
                <span>Barcha yo`nalishlar</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
      </aside>
      <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
          {% for yonalish in object_list %}
            <div class="card" >
              <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'yonalish_detail' yonalish.pk %}"><h4>{{yonalish.yonalish|title}}</h4></a></span>             
             
              </div>           
            <br>
            <hr>    
          
            </div>
          {% endfor %} 
        </section>
      </div>
    {% endif %}

    {% if user.username == 'fakultet' %}
      <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="{% url 'yonalish_new' %}">
                <i class="fa fa-briefcase"></i> 
                <span>Yangi yo`nalish kirish</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="{% url 'yonalish_list' %}">
                <i class="fa fa-users"></i> 
                <span>Barcha yo`nalishlar</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
      </aside>
      <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
          {% for arm_1 in object_list %}
            <div class="card" >
              <div class="card-header">
                <span class="font-weight-bold"><h4>{{yonalish.yonalish|title}}</h4></span>               
                
              </div>           
            <br>
            <hr>    
          
            </div>
          {% endfor %} 
        </section>
      </div>
    {% endif %}
  
  {% endif %}
  
  
      
{% endblock content %}