{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <aside class="main-sidebar">      
        <section class="sidebar">
            <ul class="sidebar-menu tree" >
                <li class="treeview ">
                <a href="{% url 'guruh_new' %}">
                    <i class="fa fa-briefcase"></i> 
                    <span>Yangi kitob kiritish</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>

                <li class="treeview ">
                <a href="{% url 'guruh_list' %}">
                    <i class="fa fa-users"></i> 
                    <span>Barcha kitoblar</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>              
                </li>
                
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
            <h2>Yangi kitob kiritish uchun</h2>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <br>
            <button class="btn btn-primary" type="submit">Saqlsh</button> 
            </form>
        </section>
    </div>
{% endif %}
{% endblock content %}