{% extends 'base.html' %}


{% block title %}guruh kirish{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.username == 'clay' %}
      <aside class="main-sidebar">
        <section class="sidebar">
        <ul class="sidebar-menu tree" >
            <li class="treeview ">
            <a href="{% url 'guruh_new' %}">
                <i class="fa fa-briefcase"></i> 
                <span>Yangi guruh kirish</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>

            <li class="treeview ">
            <a href="{% url 'guruh_list' %}">
                <i class="fa fa-users"></i> 
                <span>Barcha guruhlar</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>              
            </li>
            
        </ul>
        </section>
      </aside>
      <div class="content-wrapper" style="min-height: 868px;">          
        <section class="content">        
          {% for guruh in object_list %}
            <div class="card" >
              <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'guruh_detail' guruh.pk %}"><h4>{{guruh.guruh|title}}</h4></a></span>               
                <span class="font-weight-bold">{{ arm.mualif }}</span>
              </div>           
            <br>
            <hr>    
          
            </div>
          {% endfor %} 
        </section>
      </div>
    {% endif %}

    
  {% endif %}
  
  
      
{% endblock content %}