{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.username == 'clay' %}
            <aside class="main-sidebar">
                <section class="sidebar">
                <ul class="sidebar-menu tree" >
                    <li class="treeview ">
                    <a href="{% url 'guruh_new' %}">
                        <i class="fa fa-briefcase"></i> 
                        <span>Yangi kitob kirish</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>              
                    </li>

                    <li class="treeview ">
                    <a href="{% url 'guruh_list' %}">
                        <i class="fa fa-users"></i> 
                        <span>Barcha kitoblar</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>              
                    </li>
                    
                </ul>
                </section>
            </aside>
            <div class="content-wrapper" style="min-height: 868px;">          
                <section class="content">        
                    <h2>Kitobni o`chirish</h2>
                    <form action="" method="post" >{% csrf_token %}     
                        <p>"{{ guruh.guruh|title }}" nomli kitobni o`chirishni istaysizmi?</p>          
                        <button class="btn btn-primary" type="submit">Ha</button> 
                    </form>
                </section>
            </div>
        {% endif %}
    
    {% endif %}
    
{% endblock content %}